#main-nav {
  background-color: #433228;
  padding: 10px;
  height: 60px;
  position: relative;

  .clicked {
    color: #f9f05d;
  }

  .dropdown-button {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 10px;

    i.content {
      color: rgba(255,255,255,0.5);
      font-size: 22px;
      position: absolute;
      width: 40px;
      height: 40px;
      border: solid;
      border-radius: 30px;
      border-color: rgba(0,0,0,0.2);
      padding: 7px;

      &:hover {
        background-color: rgba(255,255,255,0.2);
        color: rgba(255,255,255,0.6);
      }
      &:active {
        background-color: rgba(255,255,255,0.3);
        color: rgba(255,255,255,0.7);
      }
    }
  }
}

#logo {
  height: 40px;
  position: absolute;
  top: 10px;
  right: 10px;
}

.main-button {
  color: #888877;
  font-size: 28px;
  display: inline-block;
  margin: 5px 10px;
  position: relative;

  .tooltiptext {
    visibility: hidden;
    width: 60px;
    background-color: #fcfcfd;
    color: #000;
    border: solid 0.5px #e0e3e6;
    font-weight: 700;
    font-size: 13px;
    text-align: center;
    padding: 5px;
    position: absolute;
    top: 25px;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.1s;
  }

  &:hover {
    color: #a8a51f;

    .tooltiptext {
      visibility: visible;
      opacity: 1;
    }
  }
}

.new-messages-number {
  position: absolute;
  display: inline-block;
  top: -10px;
  right: -11px;
  height: 24px;
  border-radius: 10px;
  font-family: sans-serif;
  font-size: 11px;
  font-weight: 700;
  background-color: #FD6446;
  color: #fff;
  padding: 10px;

  p {
    top: -5px;
    position: relative;
  }
}