.user-profile {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 700px;
  overflow: hidden;

  .name {
    font-size: 20px;
    bottom: calc(33% - 100px);
  }

  .name, .photo {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 35%);
  }

  .background {
    width: 100%;
    object-fit: cover;
    height: 67%;
    position: relative;

    .background-photo {
      width: 100%;
      height: 100%;
      background-color: rgba(0,0,0,0.6);

      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        opacity: 0.6;
      }

      .delete-background-photo {
        border-radius: 10px;
        font-size: 10px;
        position: absolute;
        left: 5px;
        bottom: 5px;
      }

      .editable-photo {
        cursor: pointer;
        background-color: rgba(0,0,0,0.6);

        &:hover {
          background-color: rgba(0,0,0,0.4);
        }

        &:active {
          background-color: rgba(0,0,0,0.3);
        }

        input {
          width: 100%;
        }
      }
    }

    .photo {
      width: 200px;
      height: 200px;
      max-width: unset;
      min-width: unset;
      bottom: 0;
      z-index: 1;

      .editable-photo {
        cursor: pointer;
        background-color: white;
        border-radius: 20% / 50%;

        input {
          width: 100%;
        }
      }

      #uploadedImg {
        width: 100%;
        height: 100%;

        &:hover {
          opacity: 0.7;
        }

        &:active {
          opacity: 0.5;
        }
      }
        

      .delete-photo {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
        font-size: 30px;
        cursor: pointer;
        color: red;

        &:hover {
          opacity: 0.7;
        }

        &:active {
          opacity: 0.5;
        }
      }
    }

    .motto, .edit-motto {
      position: absolute;
      left: 50%;
      top: 35%;
      transform: translate(-50%, -50%);
    }
    
    .motto {
      color: #fff;
      text-align: center;
      font-family: 'Candara';

      .motto-text {
        max-width: 300px;
        max-height: 200px;
        overflow: auto;
      }

      .fa-pencil-alt {
        color: #fff;
        top: 2px;
        right: -30px;
        font-size: 20px;
      }
    }

    .edit-motto {
      width: 100%;

      i {
        position: absolute;
        top: 12px;
        cursor: pointer;
        color: rgba(0,0,0,0.6);

        &:hover {
          color: rgba(0,0,0,1);
        }
      }

      input {
        font-size: 12px;
      }

      .fa-check {
        right: 35px;
      }

      .fa-times {
        right: 15px;
      }
    }
  }

  .bottom-section {
    .grid {
      margin: 0 !important;

      .column {
        padding: 0 !important;
      }
    }
  }

  .button {
    cursor: pointer;
    position: absolute;
    z-index: 1;
    border-radius: 50%;
  }

  .back-button {
    top: 10px;
    right: 10px;
    font-size: 20px;
    color: #fff;
    background-color: rgba(255,255,255,0.3);
    padding: 7px 10px;

    &:hover {
      background-color: rgba(255,255,255,0.4);
    }

    &:active {
      background-color: rgba(255,255,255,0.7);
    }
  }

  .edit-name {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 100%);

    i {
      position: absolute;
      top: 14px;
      cursor: pointer;
      color: rgba(0,0,0,0.6);

      &:hover {
        color: rgba(0,0,0,1);
      }
    }

    .fa-check {
      right: 35px;
    }

    .fa-times {
      right: 15px;
    }

    p {
      color: rgba(0,0,0,0.6);
      font-weight: 700;
    }
  }

  .edit-name-button {
    padding-left: 10px;
    color: rgba(0,0,0,0.7);

    &:hover {
      color: rgba(0,0,0,1);
    }
  }

  .edit-input {
    border: 2px solid skyblue;

    input {
      padding-right: 55px !important;
    }  
  }

  .favorite-button {
    bottom: 10px;
    right: 10px;
    font-size: 14px;
    color: rgba(255,255,255,0.7);
    border: 2px solid rgba(255,255,255,0.7);
    padding: 4px;

    &.favorite {
      color: #faed29;
      border-color: #faed29;
    }
  }

  .call-button, .chat-button {
    left: 50%;
    bottom: calc(33% - 160px);
    position: absolute;
    transform: translateX(-50%);

    i {
      font-size: 36px;
      padding: 10px;

      &:hover {
        background-color: rgba(0,0,0,0.4);
      }

      &:active {
        background-color: rgba(0,0,0,0.7);
      }
    }

    p {
      position: relative;
      top: 60px;
    }
  }

  .call-button {
    i {
      transform: rotate(100deg);
    }
  }
}