.login {
  height: 100%;
  background-color: #FBDF00;
  min-height: 600px;

  .login-form-wrapper {
    margin: auto;
    width: 332px;
    height: 100%;
  }

  .login-logo {
    top: 100px;
    position: relative;
  }

  .form {
    margin: auto;
    top: 150px;
    position: relative;
    height: 200px;
    width: 332px;

    .fields-wrapper {
      background-color: #fff;
      border: solid 1px #dfc601;
    }

    .field {
      width: 100%;
      height: 46px;
      margin: 0 !important;
    
      .field-input {
        width: 306px !important;
        height: 24px;
        font-size: 20px;
        font-weight: 300;
        text-align: left;
        margin: 12px;

        input {
          width: 100%;
        }
      }
    }

    .button {
      margin-top: 15px;
      width: 100%;
      height: 60px;
      border-radius: 0px;
      font-size: 20px;
      font-weight: 300;
      text-align: center;
      color: #fff;
      background-color: #333333;
    }

    .button:hover {
      background-color: rgba(33,33,33,1);
    }

    .button:active {
      background-color: rgba(33,33,33,0.8);
    }

    .field.disabled {
      opacity: 1 !important;
    }

    .button.disabled {
      color: #000;
      background-color: #fff !important;
      opacity: 1 !important;
      border: solid 1px #dfc601;
    }
  }
}
