#app {
  min-width: 350px;
  height: 100%;
  font-family: Arial;

}

.ui.modal {
  min-height: 400px;
  min-width: 300px;

  .header {
    font-size: 13px !important;
  }

  & > .content {
    max-height: 50vh;
    overflow: auto;
    padding-top: 0 !important;

    @media only screen and (max-width: 767px) {
      padding-top: 0 !important;
    }
  }

  .pending-friend {
    position: relative;
    padding: 10px;
    margin: 0 -10px;
    user-select: none;
    border-bottom: 1px solid rgba(0,0,0,.2);

    &:not(.clicked):hover {
      background-color: #e6e6e6;
    }

    .accept-reject {
      i {
        font-size: 25px;
        cursor: pointer;
      }

      .accept {
        color: #6ffc22;

        &:hover {
          color: #54e802;
        }

        &:active {
          color: #3eac02;
        }
      }

      .reject {
        color: #fc4131;

        &:hover {
          color: #fd2917;
        }

        &:active {
          color: #c11001;
        }
      }
    }

    .pending-friend-photo {
      width: 5%;
      min-width: 40px;
      max-width: 60px;     
      display: inline-block;
      position: relative;
      margin-right: 10px;
      padding: 10px;

      /* for making height of photo scale equal to width */
      &:before{
        content: '';
        padding: 45% 0;
        display: inline-block;
      }
    }

    img {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 50%;
      object-fit: cover;
      vertical-align: top;
    } 

    .pending-friend-name, .pending-friend-email, .pending-friend-motto {
      height: 100%;
      position: absolute;
      top: 0;
      font-size: 11px;
      display: inline-block;
    }

    .pending-friend-name {
      font-weight: 700;
      top: -10px;
    }

    .pending-friend-email {
      top: 10px;
    }

    .pending-friend-motto {
      color: darkgray;
      right: 10px;
      max-width: 50%;
      font-size: 10px;
    }

    p {
      position: relative;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      line-height: 1.2em;
      max-height: 2.4em;
      overflow: hidden;
    }
  }
}

hr {
  border: 0;
  border-top: 1px solid rgba(0,0,0,0.2);
}

.input {
  width: 100%;

  input {
    border-radius: 0px !important;
    border: none !important;
    border-bottom: solid 1px rgba(0,0,0,.1) !important;
  }
}

.yellow-button {
  color: #000 !important;
  background-color: #f9f05d !important;
  border: solid 1px #fbe483 !important;
  border-radius: 1px !important;
  
  &:hover {
    background-color: #f6e91e !important;
  }
  &:active {
    background-color: #d6ca0a !important;
  }
}

.SplitPane {
  min-width: 350px;

  &:not(.chatroomOpen) {
    & > .Pane1 {
      width: 100% !important;
    }
    & > .Pane2 {
      width: 0 !important;
    }
  }

  .Pane2 {
    @media (max-width: 900px) {
      position: absolute !important;
      height: 100%;
    }
  }

  .Resizer {
    background: #000;
    opacity: .2;
    z-index: 1;
    box-sizing: border-box;
    background-clip: padding-box;

    @media (max-width: 900px) {
      display: none;
    }
  }

   .Resizer.horizontal {
    height: 11px;
    margin: -5px 0;
    border-top: 5px solid rgba(255, 255, 255, 0);
    border-bottom: 5px solid rgba(255, 255, 255, 0);
    cursor: row-resize;
    width: 100%;
  }

  .Resizer.horizontal:hover {
    border-top: 5px solid rgba(0, 0, 0, 0.5);
    border-bottom: 5px solid rgba(0, 0, 0, 0.5);
  }

  .Resizer.vertical {
    width: 11px;
    margin: 0 -5px;
    border-left: 5px solid rgba(255, 255, 255, 0);
    border-right: 5px solid rgba(255, 255, 255, 0);
    cursor: col-resize;
  }

  .Resizer.vertical:hover {
    border-left: 5px solid rgba(0, 0, 0, 0.5);
    border-right: 5px solid rgba(0, 0, 0, 0.5);
  }
  .Resizer.disabled {
    cursor: not-allowed;
  }
  .Resizer.disabled:hover {
    border-color: transparent;
  }
}

@media (max-width: 900px) {
  .SplitPane.chatroomOpen {
    & > .Pane1 {
      width: 0 !important;
    }
    & > .Pane2 {
      width: 100% !important;
    }
  }
}