.friends-wrapper {
  height: calc(100vh - 60px);

  .friends-list {
    padding: 10px;
    width: 100%;
    overflow-y: scroll;
    height: 100%;

    .section-name {
      color: darkgray;
      margin-top: 10px;
    }

    .clicked {
      background-color: #d6d6d6;
    }

    .friend {
      position: relative;
      padding: 5px 10px;
      margin: 0 -10px;
      user-select: none;

      &:not(.clicked):hover {
        background-color: #e6e6e6;
      }

      .friend-photo {  
        margin: 0 15px 0 0;
      } 

      .friend-name, .friend-motto {
        height: 100%;
        position: absolute;
        top: 0;
      }

      .friend-name {
        font-weight: 700;
        font-size: 11px;
        display: inline-block;
        max-width: 25%;
      }

      .friend-motto {
        color: darkgray;
        right: 10px;
        max-width: 50%;
        font-size: 10px;
      }

      p {
        position: relative;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        line-height: 1.2em;
        max-height: 2.4em;
        overflow: hidden;
      }
    }
  }
}

.react-contextmenu {
  background-color: white;
  border-radius: 3px;
  border: 1px solid rgba(0,0,0,0.2);
  opacity: 0;

  .react-contextmenu-item {
    padding: 3px 5px;
    font-size: 10px;

    &:hover {
      background-color: #e6e6e6;
    }

    &:focus {
      background-color: #d6d6d6;
      outline: none;
    }
  }
}