.friends-wrapper {
  height: calc(100vh - 96.66px);

  .friends-list {
    padding: 10px;
    width: 100%;
    overflow-y: scroll;
    height: 100%;

    .section-name {
      color: darkgray;
      margin-top: 10px;
    }

    .clicked {
      background-color: #ecedef;
    }

    .friend {
      position: relative;
      padding: 5px 10px;
      margin: 0 -10px;
      user-select: none;

      &:not(.clicked):hover {
        background-color: #f5f7fa;
      }

      .friend-photo {
        width: 13%;
        min-width: 40px;
        height: 0;
        padding-top: 13%;        
        margin: 0 15px 0 0;
        display: inline-block;
        position: relative;
      }

      img {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 50%;
        object-fit: cover;
        vertical-align: top;
      } 

      .friend-name, .friend-motto {
        height: 100%;
        position: absolute;
        top: 0;
      }

      .friend-name {
        font-weight: 700;
        display: inline-block;
        max-width: 30%;
      }

      .friend-motto {
        color: darkgray;
        right: 10px;
        max-width: 50%;
      }

      p {
        position: relative;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        line-height: 1.2em;
        max-height: 2.4em;
        overflow: hidden;
      }
    }
  }
}