.chatroom {
  height: 100%;
  width: 100%;
  background-color: #b1ecfc;
  display: flex;
  flex-direction: column;

  .chatroom-photo {
    width: 40px;
    border-radius: 50%;
    height: 40px;
    object-fit: cover;
  }

  .chatroom-nav {
    padding: 10px;
    height: 60px;
    width: 100%;
    border-bottom: solid 1px rgba(0,0,0,0.1);
    position: relative;
    flex: 0 1 auto;

    .chatroom-name {
      height: 100%;
      top: 0;
      position: absolute;
      display: inline-block;
      font-weight: 900;
      padding: 0 10px;

      p {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
      }
    }

    .chatroom-photo {
      top: -5px;
      position: relative;
    }

    .fa-search, .fa-bars {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }

    .fa-search {
      right: 40px;
    }

    .fa-bars {
      right: 0px;
    }

    .button {
      font-size: 21px;
      padding: 10px;
      border-radius: 50%;
      height: 40px;
      width: 40px;
      cursor: pointer;
      background-color: transparent;
      margin-right: 10px;

      &:hover {
        background-color: rgba(0,0,0, 0.2);
        transition: background-color 0.2s ease;
      }

      &:active {
        background-color: rgba(0,0,0, 0.5);
        transition: background-color 0.1s ease;
      }
    }
  }

  .chatroom-messages {
    padding: 15px;
    overflow-y: auto;
    flex: 1 1 auto;

    .date {
      overflow: hidden;
      text-align: center;
    }

    .date:before,
    .date:after {
      background-color: rgba(0,0,0,0.1);
      content: "";
      display: inline-block;
      height: 1px;
      position: relative;
      vertical-align: middle;
      width: 50%;
    }

    .date:before {
      right: 0.5em;
      margin-left: -50%;
    }

    .date:after {
      left: 0.5em;
      margin-right: -50%;
    }


    .her-message {

      .text {
        float: left;
        background-color: #fff;


        &:after {
          content: '';
          left: 0;
          margin-top: 6px;
          margin-left: -5px;
          border: 5px solid transparent;
          border-right-color: #fff;
          border-left: 0;
          border-top: 0;
        }
      }
    }

    .my-message {

      .date-container {
        flex: 1;
        position: relative;

        span {
          right: 2px;
        }
      }

      .text {
        float: right;
        background-color: #f9f05d;
        
        span {
          position: absolute;
          bottom: 4px;
          right: calc(100% - 93px);
        }

        &:after {
          content: '';
          right: 0;
          margin-top: 6px;
          margin-right: -5px;
          border: 5px solid transparent;
          border-left-color: #f9f05d;
          border-right: 0;
          border-top: 0;
        }
      }
    }

    .message {

      .date-container {

        span {
          position: absolute;
          bottom: 4px;
          margin: 0 2px;
        }
      }

      &:after, .clearfix { 
        content: " "; 
        display: block;
        clear: both;
      } 

      .text {
        border-radius: 5px;
        max-width: calc(100% - 100px);
        overflow-wrap: break-word;
        margin: 3px;
        padding: 7px;
        position: relative;
        word-break: keep-all;

        &:after {
          position: absolute;
          top: 0;
          width: 0;
          height: 0;
        }
      }
    }
  }

  .chatroom-type {
    flex: 0 1 auto;
    width: 100%;
    background-color: #fff;
    border-top: solid 1px rgba(0,0,0,0.2);

    .form {
      min-height: 120px;
      padding: 10px;

      textarea {
        border: none;
        resize: none;
        max-height: 300px;
        padding: 0;
        width: calc(100% - 72px);
      }

      button {
        color: #000 !important;
        background-color: #f9f05d;
        border: solid 1px #fbe483;
        border-radius: 1px;
        position: absolute;
        top: 10px;
        right: 10px;

        &:hover {
          background-color: #f6e91e;
        }
        &:active {
          background-color: #d6ca0a;
        }
      }

      .bot-button {
        font-size: 24px;
        padding: 10px;
        border-radius: 50%;
        height: 43px;
        width: 43px;
        cursor: pointer;
        background-color: transparent;
        margin-right: 10px;
        position: absolute;
        bottom: 10px;
        color: rgba(0,0,0, 0.5);

        &:hover {
          color: #43c3e5;
        }

        &:active {
          color: #1ca1c4;
        }
      }

      .fa-smile-wink {
        left: 10px;
      }

      .fa-paperclip {
        left: 50px;
      }

      .fa-image {
        left: 90px !important;
      }

      .fa-phone {
        left: 130px;
      }
    }
  }
}